<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr">
<head profile="http://gmpg.org/xfn/11">
<title>Academic Education | Gallery</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="stylesheet" href="styles/layout.css" type="text/css" />
<!-- Gallery Specific Elements -->
<script type="text/javascript" src="scripts/jquery-1.4.1.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
    $("a[rel^='prettyPhoto']").prettyPhoto({
        theme: 'dark_rounded',
        overlay_gallery: false
    });
});
</script>
<link rel="stylesheet" href="styles/prettyPhoto.css" type="text/css" />
<script type="text/javascript" src="scripts/jquery-prettyPhoto.js"></script>
<!-- End Gallery Specific Elements -->
</head>
<body id="top">
<div class="wrapper row1">
  <div id="header" class="clear">
    <div class="fl_left">
      <h1><a href="index.html">Academic Education</a></h1>
      <p>Free CSS Website Template</p>
    </div>
    <div class="fl_right">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">A - Z Index</a></li>
        <li><a href="#">Student Login</a></li>
        <li class="last"><a href="#">Staff Login</a></li>
      </ul>
      <form action="#" method="post" id="sitesearch">
        <fieldset>
          <strong>Search:</strong>
          <input type="text" value="Search Our Website&hellip;" onfocus="this.value=(this.value=='Search Our Website&hellip;')? '' : this.value ;" />
          <input type="image" src="images/search.gif" id="search" alt="Search" />
        </fieldset>
      </form>
    </div>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row2">
  <div class="rnd">
    <!-- ###### -->
    <div id="topnav">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="style-demo.html">Style Demo</a></li>
        <li><a href="full-width.html">Full Width</a></li>
        <li><a href="3-columns.html">3 Columns</a></li>
        <li><a href="portfolio.html">Portfolio</a></li>
        <li class="active"><a href="gallery.html">Gallery</a></li>
        <li><a href="#">This a very long link</a></li>
        <li class="last"><a href="#">This is the last</a></li>
      </ul>
    </div>
    <!-- ###### -->
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row3">
  <div class="rnd">
    <div id="container" class="clear">
      <!-- ####################################################################################################### -->
      <div id="gallery" class="clear">
        <h2 class="title">Latest Images From The University</h2>
        <ul>
          <li><a href="images/demo/420x190.gif" rel="prettyPhoto[gallery1]" title="Image 1"><img src="images/demo/160x160.gif" alt="" /></a></li>
          <li><a href="images/demo/420x190.gif" rel="prettyPhoto[gallery1]" title="Image 2"><img src="images/demo/160x160.gif" alt="" /></a></li>
          <li><a href="images/demo/420x190.gif" rel="prettyPhoto[gallery1]" title="Image 3"><img src="images/demo/160x160.gif" alt="" /></a></li>
          <li><a href="images/demo/420x190.gif" rel="prettyPhoto[gallery1]" title="Image 4"><img src="images/demo/160x160.gif" alt="" /></a></li>
          <li class="last"><a href="images/demo/420x190.gif" rel="prettyPhoto[gallery1]" title="Image 5"><img src="images/demo/160x160.gif" alt="" /></a></li>
          <li><a href="images/demo/420x190.gif" rel="prettyPhoto[gallery1]" title="Image 6"><img src="images/demo/160x160.gif" alt="" /></a></li>
          <li><a href="images/demo/420x190.gif" rel="prettyPhoto[gallery1]" title="Image 7"><img src="images/demo/160x160.gif" alt="" /></a></li>
          <li><a href="images/demo/420x190.gif" rel="prettyPhoto[gallery1]" title="Image 8"><img src="images/demo/160x160.gif" alt="" /></a></li>
          <li><a href="images/demo/420x190.gif" rel="prettyPhoto[gallery1]" title="Image 9"><img src="images/demo/160x160.gif" alt="" /></a></li>
          <li class="last"><a href="images/demo/420x190.gif" rel="prettyPhoto[gallery1]" title="Image 10"><img src="images/demo/160x160.gif" alt="" /></a></li>
          <li><a href="images/demo/420x190.gif" rel="prettyPhoto[gallery1]" title="Image 11"><img src="images/demo/160x160.gif" alt="" /></a></li>
          <li><a href="images/demo/420x190.gif" rel="prettyPhoto[gallery1]" title="Image 12"><img src="images/demo/160x160.gif" alt="" /></a></li>
          <li><a href="images/demo/420x190.gif" rel="prettyPhoto[gallery1]" title="Image 13"><img src="images/demo/160x160.gif" alt="" /></a></li>
          <li><a href="images/demo/420x190.gif" rel="prettyPhoto[gallery1]" title="Image 14"><img src="images/demo/160x160.gif" alt="" /></a></li>
          <li class="last"><a href="images/demo/420x190.gif" rel="prettyPhoto[gallery1]" title="Image 15"><img src="images/demo/160x160.gif" alt="" /></a></li>
        </ul>
      </div>
      <!-- ####################################################################################################### -->
      <div class="pagination">
        <ul>
          <li class="prev"><a href="#">&laquo; Previous</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li class="splitter">&hellip;</li>
          <li><a href="#">6</a></li>
          <li class="current">7</li>
          <li><a href="#">8</a></li>
          <li><a href="#">9</a></li>
          <li class="splitter">&hellip;</li>
          <li><a href="#">14</a></li>
          <li><a href="#">15</a></li>
          <li class="next"><a href="#">Next &raquo;</a></li>
        </ul>
      </div>
      <!-- ####################################################################################################### -->
    </div>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row4">
  <div class="rnd">
    <div id="footer" class="clear">
      <!-- ####################################################################################################### -->
      <div class="fl_left clear">
        <div class="fl_left center"><img src="images/demo/worldmap.gif" alt="" /><br />
          <a href="#">Find Us With Google Maps &raquo;</a></div>
        <address>
        Address Line 1<br />
        Address Line 2<br />
        Town/City<br />
        Postcode/Zip<br />
        <br />
        Tel: xxxx xxxx xxxxxx<br />
        Email: <a href="#">contact@domain.com</a>
        </address>
      </div>
      <div class="fl_right">
        <div id="social" class="clear">
          <p>Stay Up to Date With Whats Happening</p>
          <ul>
            <li><a style="background-position:0 0;" href="#">Twitter</a></li>
            <li><a style="background-position:-72px 0;" href="#">LinkedIn</a></li>
            <li><a style="background-position:-142px 0;" href="#">Facebook</a></li>
            <li><a style="background-position:-212px 0;" href="#">Flickr</a></li>
            <li><a style="background-position:-282px 0;" href="#">RSS</a></li>
          </ul>
        </div>
        <div id="newsletter">
          <form action="#" method="post">
            <fieldset>
              <legend>Subscribe To Our Newsletter:</legend>
              <input type="text" value="Enter Email Here&hellip;" onfocus="this.value=(this.value=='Enter Email Here&hellip;')? '' : this.value ;" />
              <input type="text" id="subscribe" value="Submit" />
            </fieldset>
          </form>
        </div>
      </div>
      <!-- ####################################################################################################### -->
    </div>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="copyright" class="clear">
    <p class="fl_left">Copyright &copy; 2011 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
  </div>
</div>
</body>
</html>